<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/admin/questions" class="text-dark">Questions</a>
      </li>
      <li class="breadcrumb-item">
        <a aria-current="page" class="breadcrumb-item active">List question</a>
      </li>
    </ol>
  </nav>
  <!-- br -->
  <h2>{{ question?.name }} -({{ question?.questions?.length }})</h2>
  <button
    routerLink="/admin/questions/add-question/{{ question.id }}"
    class="btn btn-primary"
  >
    Add
  </button>

  <nz-collapse>
    <nz-collapse-panel
      *ngFor="let panel of question.questions"
      [nzHeader]="panel.quiz"
      [nzActive]="true"
      [nzDisabled]="panel.disabled"
    >
      <ul nz-list [nzDataSource]="panel.answers" nzBordered nzSize="large">
        <li
          nz-list-item
          *ngFor="let item of panel.answers; index as i; first as isFirst"
          nzNoFlex
        >
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a routerLink="/admin/questions/edit-question/{{ panel.id }}"
                >edit</a
              ></nz-list-item-action
            >
          </ul>
          {{ item.text }} -- {{ item.status ? "dung" : "sai" }}
        </li>
      </ul>
    </nz-collapse-panel>
  </nz-collapse>
</div>
