<button type="button" class="btn btn-primary" (click)="show()">ADD</button>
<table class="table container mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">image</th>
      <th scope="col">status</th>
      <th scope="col">price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productClone">
      <th scope="row">{{ item.id }}</th>
      <td><img src="{{ item.image }}" alt="" style="width: 2rem" /></td>
      <td>{{ item.status ? "Con" : "Het" }}</td>
      <td>{{ item.price }}</td>
      <td>
        <div (click)="handleRemove(item.id)" class="btn btn-danger">Remove</div>
        <div (click)="handleView(item)" class="btn btn-primary">View</div>
      </td>
    </tr>
  </tbody>
</table>
<app-add-product [show]="show()" (newItem)="onSubmit($event)"></app-add-product>
<div *ngIf="product">
  <app-product-item [data]="product"></app-product-item>
</div>
